server = true
{% if total_servers == 6 %}
    bootstrap_expect = 3
{% elif total_servers == 4 %}
    bootstrap_expect = 2
{% elif total_servers == 2 %}
    bootstrap_expect = 1
{% endif %}

ui_config{
    enabled = true
}

addresses {  
    grpc = "127.0.0.1"
}

ports {  
    grpc  = 8502
}

connect {  
    enabled = true
    }
# https://www.consul.io/docs/install/performance

performance {  
    raft_multiplier = 1
    }

auto_encrypt {
    allow_tls = true
}
