# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

ui = true

mlock = true
disable_mlock = true

storage "consul" {  
  address = "127.0.0.1:8500"
  path    = "vault/"}

# HTTP listener
listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = true
}

#listener "tcp" {
#  address = "127.0.0.1:8200"
#  tls_disable = true
#}

api_addr = "https://{{ ansible_default_ipv4.address }}:8200"
cluster_addr = "http://{{ ansible_default_ipv4.address }}:8201"
#api_addr = "https://{{ ansible_hostname }}.{{ domain }}:8200"
#cluster_addr = "http://{{ ansible_hostname }}.{{ domain }}:8201"

## HTTPS listener
#listener "tcp" {
#  address       = "{{ ansible_default_ipv4.address }}:8200"
#  tls_cert_file = "/opt/vault/tls/{{ domain }}.crt"
#  tls_key_file  = "/opt/vault/tls/{{ domain }}.key"
#}

# Enterprise license_path
# This will be required for enterprise as of v1.8
#license_path = "/etc/vault.d/vault.hclic"

# Example AWS KMS auto unseal
#seal "awskms" {
#  region = "us-east-1"
#  kms_key_id = "REPLACE-ME"
#}

# Example HSM auto unseal
#seal "pkcs11" {
#  lib            = "/usr/vault/lib/libCryptoki2_64.so"
#  slot           = "0"
#  pin            = "AAAA-BBBB-CCCC-DDDD"
#  key_label      = "vault-hsm-key"
#  hmac_key_label = "vault-hsm-hmac-key"
#}
